{% extends "marketplace/layout.html" %}

{% block body %}
<h1>Login</h1>
    <br>
    <form action="{% url 'marketplace:login' %}" method="post">
        {% csrf_token %}
        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        <br>
        <input class="form-control" type="password" name="password" placeholder="Password">
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
        <br>
        <p>Don't have an account?<a href="{% url 'marketplace:register' %}" class="btn btn-link">Register Here</a></p>
    </form>
{% endblock %}




